.countLabel {
  width: fit-content;
  padding: 8px 14px;
  font-size: var(--fz-14);
  font-weight: var(--fw-medium);
  line-height: 1;
  color: var(--color-accent);
  background-color: var(--color-accent-light);
  border-radius: var(--radius-pill);
}
