.container {
  width: 100%;
  max-width: var(--container-max-mobile);
  padding-inline: var(--container-padding-mobile);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: var(--container-max-tablet);
    padding-inline: var(--container-padding-tablet);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: var(--container-max-desktop);
    padding-inline: var(--container-padding-desktop);
  }
}
