.container {
  width: 100%;
  margin-inline: auto;
}

.page {
  max-width: var(--container-max-mobile);
  padding-inline: var(--container-padding-mobile);
}

@media only screen and (min-width: 768px) {
  .page {
    max-width: var(--container-max-tablet);
    padding-inline: var(--container-padding-tablet);
  }
}

@media only screen and (min-width: 1440px) {
  .page {
    max-width: var(--container-max-desktop);
    padding-inline: var(--container-padding-desktop);
  }
}
