.container {
  width: 100%;
  margin: 0 auto;
}

.page {
  max-width: 375px;
  padding-inline: 20px;
}

@media only screen and (min-width: 768px) {
  .page {
    max-width: 768px;
    padding-inline: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .page {
    max-width: 1440px;
    padding-inline: 64px;
  }
}
