NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/e-pharmacy?retryWrites=true&w=majority

JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d
JWT_RESET_EXPIRES_IN=15m

CLIENT_ORIGINS=http://localhost:3000
CLIENT_APP_URL=http://localhost:3000

# nodemailer
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=<your-smtp-user>
SMTP_PASSWORD=<your-smtp-password>
SMTP_FROM="E-PHARMACY <no-reply@your-domain.com>"

# Optional. Use for shared parent domains, for example .example.com
AUTH_COOKIE_DOMAIN=
