.title {
  font-size: var(--fz-24);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading);
  color: var(--color-text-primary);
}

.text {
  margin-top: 12px;
  font-size: var(--fz-14);
  line-height: var(--lh-base);
  color: var(--color-text-secondary);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 24px;
}

@media only screen and (min-width: 768px) {
  .actions {
    flex-direction: column;
  }

  .actions > * {
    width: 100%;
  }
}
